@import './root.css';
/* responsive */

@media screen and (max-width: 920px) {

    #home,
    #problem,
    #motivation,
    #group,
    header section,
    .container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        /* The width is 100%, when the viewport is 800px or smaller */
    }

    h2 { 
        width: auto;
        overflow: hidden;
        padding-bottom: 1rem;

    }

    header nav ul {
        align-items: center;
    }
}
