@import './root.css';

@font-face {
    font-family:"Rubik" ;
    src: url('/fonts/Rubik-VariableFont_wght.ttf');
}

header{
    background: linear-gradient(90deg, rgba(12,53,106,1) 0%, rgba(1,116,190,1) 100%);
    padding: 3rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF0CE;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    padding: 0.5rem 5rem 0.5rem 0;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
    font-family: 'Rubik';
}

a {
    text-decoration: none;
    color: #000;
    transition: 450ms ease-in-out;
}

a:hover {
    color: var(--primary-color)
}

header nav img{
    width: 5rem;
}

header nav ul li :hover{
    color: rgba(1,116,190,1) ;
}

header section{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

h1{
    color: #fff;
    font-family: 'Rubik', Arial;
    font-size: 2.5rem;
    padding: 3.6rem;
}

h2{
    color: rgba(12,53,106,1);
    font-family: 'Rubik', Arial;
    font-size: 2.5rem;
    padding: 4rem;
}

#problem{
    display: flex;
    flex-wrap: wrap
}


.yellowg{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,196,54,1) 100%);
}
.blueg{
    background: linear-gradient(90deg, rgba(12,53,106,1) 0%, rgba(1,116,190,1) 100%);
}

.content {
    font-family: 'Rubik', 'Arial';
    font-size: 1.2rem;
    color: rgba(12,53,106,1);
    width: 60%;
    text-align: justify;
    padding: 2rem;
}


















.Title-Content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Container {
    width: 100%;
    display: flex;
}

.div-Title {
    margin: 0 0 2em 1em ;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Title {
    font-family: 'Rubik',Arial;
    padding: 0.5em;
    font-size: 2.5rem;
    font-weight: bold;
    border-left: 2px solid #fff;
    color: var(--title-color);
}

.Content-Left {
    width: 50%;
    border-radius: 2rem;
}

.Content-Right {
    width: 50%;
    border-radius: 2rem;
}

.Content-Right>.div-Title>.Title{
    border-left: 0;
}

.div-Content {
    background-color: white;
    padding: 3em 0 1.5em 0;
    margin: 0 0 1em 0;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border-bottom: 1px solid #fff;
    border-radius: 2rem;
}

.div-Stacks
{
    display: flex;
    justify-content: space-around;
}

.Stack {
    border: 1px solid var(#fff);
    filter: hue-rotate(80deg);
}

.Content-Stack {
    display: flex;
    justify-content: center;
    color: var(--text-color);
}
.Line {
    position: relative;
    width: 80%;
    left: 10%;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #fff;
}
